.logo{
    margin-top: 44px;
    margin-bottom: 28px;
    color: white;
    font-size: 54px;

}

.logo-text{
    background: linear-gradient(rgb(246, 160, 89),  rgb(226, 79, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}